@font-face {
    font-family: 'Franklin Gothic';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/FranklinGothicRegular.woff2) format('woff2');
}

@font-face {
    font-family: 'Franklin Condensed';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/FranklinGothicMediumCondensed.woff2) format('woff2');
}

@font-face {
    font-family: 'Franklin Gothic';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/FranklinGothicDemi.woff2) format('woff2');
}
