.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .movie {
    width: 100%;
    margin: 1.5rem 0;
    border: 2px solid $white;

    a {
      opacity: .8;

      &:hover {
        opacity: 1;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .movie {
      width: 30%;
    }
  }
}
