body {
	background: url(img/background.jpg);
	text-align: center;
}

body .container {
	padding-bottom: 60px;
}

body img {
	width: 400px;
	margin-top: 20px;
	margin-bottom: 120px;
}

body .episode-1, 
body .episode-2, 
body .episode-3,
body .episode-4,
body .episode-5,
body .episode-6 {
	height: 500px;
	background-size: 80%;
	background-repeat: no-repeat;
}

body .episode-1 {
	background-image: url(img/phantom-menace-artwork.png);
}

body .episode-2 {
	background-image: url(img/attack-of-the-clones-artwork.png);
}

body .episode-3 {
	background-image: url(img/revenge-of-the-sith-artwork.png);
}

body .episode-4 {
	background-image: url(img/new-hope-artwork.png);
}

body .episode-5 {
	background-image: url(img/empire-strikes-back-artwork.png);
}

body .episode-6 {
	background-image: url(img/return-of-the-jedi-artwork.png);
}

body a {
	display: block;
	width: 100%;
	height: 100%;
}