body {
	background: url(../images/background.jpg);
	text-align: center;
}

body .container {
	padding-bottom: 60px;
}

body img {
	width: 400px;
	margin-top: 20px;
	margin-bottom: 120px;
}

body .episode-1,
body .episode-2,
body .episode-3,
body .episode-4,
body .episode-5,
body .episode-6 {
	height: 500px;
	background-size: 80%;
	background-repeat: no-repeat;
}

body a {
	display: block;
	width: 100%;
	height: 100%;
}